* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  font-family: "Open Sans", sans-serif;
  color: #1d1b1e;
  font-size: 14px;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  max-width: 428px;
  padding: 24px 16px 0 16px;
  margin: 0 auto;
  background: #fffbff;
  position: relative;
  height: 100vh;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.headerTitle {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 3px;
}

.headerText {
  font-size: 15px;
}

.headerDate {
  margin-bottom: 16px;
}

.searchInput {
  padding: 12px 20px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #49454f;
  background: rgba(29, 27, 32, 0.08);
  border-radius: 28px;
  min-width: 360px;
  max-width: 720px;
  border: none;
  width: 100%;
}

.searchForm {
  position: relative;
  margin-bottom: 16px;
  width: 100%;
}

.iconSearch {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #49454f;
  position: absolute;
  top: 0;
  right: 8px;
}

.containerBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.btnTasks {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: inherit;
  border: 1px solid #79747e;
  width: 100%;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
}

.isActive {
  background-color: #e8def8;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.isActive::before {
  content: url(../assets/icons/check_18dp_1D192B_FILL0_wght400_GRAD0_opsz20.svg);
  width: 18px;
  height: 18px;
}

.borderRight {
  border-radius: 100px 0 0 100px;
  border-right: none;
}

.borderLeft {
  border-radius: 0 100px 100px 0;
  border-left: none;
}

.containerTask {
  background-color: rgba(103, 80, 164, 0.05);
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

.todoBlock {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.checkbox {
  position: relative;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #49454f;
  border-radius: 2px;
  transition: all 0.15s linear;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:checked {
  background-color: rgba(208, 188, 255, 1);
  border-color: rgba(208, 188, 255, 1);
}
.checkbox:has(input[type="checkbox"]:checked) .checkbox__check-icon {
  opacity: 100%;
}
.checkbox__check-icon {
  position: absolute;
  top: 7px;
  left: 7px;
  pointer-events: none;
  font-size: 20px !important;
  color: #381e72;
  transition: all 0.15s linear;
  opacity: 0%;
}

.todoBlockTitle {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 400;
}

.todoBlock:has(input[type="checkbox"]:checked)
  > .todoBlockData
  > .todoBlockTitle {
  text-decoration: line-through;
  color: rgba(29, 27, 30, 0.5) !important;
}
.todoBlock:has(input[type="checkbox"]:checked)
  > .todoBlockData
  > .todoBlockDateText {
  color: rgba(29, 27, 30, 0.5) !important;
}

.newTask {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background-color: #ebdef7;
  padding: 16px;
  border-radius: 16px;
  border: none;
}

.newTaskBtnContainer {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 9;
}

.modalContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fffbff;
  border-radius: 28px 28px 0 0;
  padding: 16px 16px;
  width: 100%;
  z-index: 10;
  min-width: 360px;
  max-width: 720px;
}

.hidden {
  display: none;
}

.line {
  border-radius: 100px;
  width: 32px;
  height: 4px;
  background-color: #79747e;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 32px;
}

.formNewTask {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formNewTask input {
  padding: 16px;
  border: 1px solid #79747e;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #49454f;
}
.remindMe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.handle {
  background-color: #fff;
  border-radius: 24px;
  width: 24px;
  height: 24px;
}

.iconContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 44px;
  height: 28px;
  background-color: #6750a4;
  border-radius: 100px;
  padding: 2px 4px;
}

.remindMeText {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  margin-bottom: 44px;
}

.modalBtnContainer {
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
}

.modalBtn {
  padding: 10px 24px;
  border-radius: 100px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #6750a4;
  border: none;
  border: 1px solid #79747e;
  background-color: none;
  text-align: center;
}

.addBtn {
  background: #6750a4;
  color: #fff;
  border: none;
}
